::selection{
    background:rgb(196, 196, 196);
}
ul {
    list-style-type: none;
    margin: 8px;
    padding: 16px;
    background-color: #ffffffce;
}

li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.3s;
}

li {
    display: inline;
}

li a:hover {
    background-color: #555;
    color: white;
}

.title {
    font-family: "大标题字体.otf";
    font-size: 100px;
    margin:0;
}

.title2 {
    font-family: "./大标题字体.otf";
    font-size: 30px;
    margin: 0;
    color: rgb(80, 80, 80);
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-weight: lighter;
}

.button {
    background-color: white;
    /* Green */
    border: gray;
    border-style: solid;
    border-width: 2px;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1 {
    border-radius: 12px;
}

div.static {
    position: fixed;
    top: 0;
}
.top-logo{
    float: left;
    font-size: 20px;
    font-weight:bolder;
}
#container2{
    height: 100px;
}