::selection{
    background:rgb(196, 196, 196);
}
@font-face{
    font-family: 'Light';
    src: url("../fonts/Comfortaa-Light.ttf")
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffffce;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffffce;
    color:gray;
}

.active {
    background-color: #ffffffce;
    color: gray;
}
/*-- this is the lead line */
.dropbtn {
    background-color: #ffffffce;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float:right;    
    font-weight:bolder;
}

.dropdown {
    z-index: 99999;
    position: fixed;
    top: 0;
    width:100%;
}
.dropdown2 {
    display: inline-block;
    float:right;
}

/* this is for down-button*/
@media screen and (min-width:800px)
{
    .dropdown {
        display:none;
    }
}
.dropdown-content {
    display: none;
    position: fixed;
    top:50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right:0;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown2:hover .dropdown-content {
    display: block;
}

.dropdown2:hover .dropbtn {
    background-color: #9fffefce;
}
/* 下拉菜单 */
.title {
    font-family: 'Light';
    font-size: 80px;
    margin:0;
}

.title2 {
    font-family: "light";
    font-size: 25px;
    margin: 0;
    color: rgb(80, 80, 80);
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-weight: lighter;
}

.button {
    background-color: white;
    /* Green */
    border: gray;
    border-style: solid;
    border-width: 2px;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1 {
    border-radius: 12px;
    font-family:'Light';
}
div.static {
    z-index: 99999;
    position: fixed;
    top: 0;
    width:100%;
}
@media screen and (max-width:800px)
{
    div.static {
        display:none;
        position: fixed;
        top: 0;
        width:100%;
    }
}

.top-logo{
    float: left;
    font-size: 20px;
    font-weight:bolder;
}
#container2{
    height: 100px;
}
div.get_the_top
{
    position:relative;
    top:30px
}
div.pos_down
{
    position:relative;
    top:50px;
    width:33%;
    height:200px;
    float:left;
}
div.pos_down2
{
    position:relative;
    top:50px;
    width:33%;
    height:200px;
    float:left;
}

div.center
{
width: 75%; height: 100px; margin: 0 auto;
}
div.center2
{
width: 75%; height: 100px; margin: 0 auto;
}
@media screen and (max-width: 800px){
    div.pos_down
    {
        position:relative;
        top:50px;
        width:50%;
        height:250px;
        float:left;
    }
    div.center{
        width: 95%; height: 100px; margin: 0 auto;
    }
    div.pos_down2
    {
        position:relative;
        top:50px;
        width:100%;
        height:250px;
        float:left;
    }
    div.center2
    {
    width: 40%; height: 100px; margin: 0 auto;
    }

}
@media screen and (max-width: 500px){
    div.pos_down
    {
        position:relative;
        top:50px;
        width:100%;
        height:200px;
        float:left;
        left:20px;
    }
    div.center{
        width: 90%; height: 100px; margin: 0 auto;
    }
    div.center2
    {
    width: 90%; height: 100px; margin: 0 auto;
    }
    div.pos_down2
    {
        position:relative;
        top:50px;
        width:100%;
        height:250px;
        float:left;
        left:20px;
    }
}
div.bottom
{        
    position:relative;
    top:50px;
    width:100%;
    height:200px;
    float:left;
    font-size:20px;
}
div.center3
{    width: 50%; height: 100px; margin: 0 auto;
}
